services:
  - type: web
    name: decommissioning-db-app
    runtime: php
    plan: free
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false
      - key: DB_PORT
        value: 5432